@model SchoolManagementSystem.Views.Admin.PayrollViewModel

@{
    ViewBag.Title = "DeletePayroll";
}

<style>
    .text-validate {
        color: white;
    }
</style>

<html>
<body>
    <div id="AllPackages">
        <div class="text-validate">
            <h1 class="Packages">Delete Payroll</h1>
        </div>


        <h2 class="Packages">Are you Sure You want to Delete this Payroll of this teacher?</h2>
        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color" , style="text-align:center">

                    <input type="submit" value="Delete" class="btn btn-primary btn-responsive" />
                    <a href="~/Admin/Payrollist" type="button" class="btn btn-primary btn-responsive"> No</a>

                </div>
            }
        </div>
    </div>
</body>
</html>
